////
///
/// Base Classes Styles
///
/// @group Base
///
////

@use '@this/scss-framework/framework' as *;

///
/// Global convenience classes for typo sizes
///
@include generate-typography-classes();


///
/// Global convenience classes for text styles
///
.is-italic {
    font-style: italic;
}

.is-bold {
    font-weight: font-weight('bold');
}

.is-underline {
    text-decoration: underline;
}

.is-uppercase {
    text-transform: uppercase;
}

.is-lowercase {
    text-transform: lowercase;
}

.is-capitalized {
    text-transform: capitalize;
}

.has-no-hyphens {
    hyphens: none;
}

.has-no-wrap {
    white-space: nowrap;
}

.has-no-break-inside {
    display: block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.flex-align {
    &-left {
        justify-content: flex-start;
        @include rtl() {
            justify-content: flex-end;
        }
    }
    &-center {
        justify-content: center;
    }
    &-right {
        justify-content: right;
        @include rtl() {
            justify-content: left;
        }
    }
}

.text-align {
    &-left {
        text-align: left;
        @include rtl() {
            text-align: right;
        }
    }
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
        @include rtl() {
            text-align: left;
        }
    }
}

.text-valign {
    &-top {
        vertical-align: top;
    }
    &-middle {
        vertical-align: middle;
    }
    &-bottom {
        vertical-align: bottom;
    }
}

///
/// Global convenience classes for alignment
///
.vertical-alignment {
    &-top {
        align-items: start;
    }
    &-center {
        align-items: center;
    }
    &-bottom {
        align-items: end;
    }
    &-stretch {
        align-items: stretch;
    }
}


///
/// Global convenience classes to prevent list bullets
///
.has-no-list-style {
    list-style-type: none;
}

///
/// Global convenience classes for background images
///
.has-background-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

///
/// Global convenience classes for the HTML tag to prevent scrolling
///
.has-no-scroll {
    height: 100vh;
    overflow: hidden;

    body {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
}

///
/// Global convenience background classes
///
@include generate-color-background-classes();

///
/// Global convenience spacing classes
///
@include generate-spacing-classes(margin, top);
@include generate-spacing-classes(margin, right);
@include generate-spacing-classes(margin, bottom);
@include generate-spacing-classes(margin, left);
@include generate-spacing-classes(padding, top);
@include generate-spacing-classes(padding, right);
@include generate-spacing-classes(padding, bottom);
@include generate-spacing-classes(padding, left);

///
/// Global convenience border-radius classes
///
@include generate-border-radius-classes();
