$module--column-start: 2!default;

.module {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  @include grid(true);
  @include grid-column-start($module--column-start);
  @include grid-column-width($grid-columns - $module--column-start);

  @include above('xs') {
    @include grid-column-start(var(--module-column-start));
    @include grid-column-width(var(--module-column-width));
  }

  & {
    @each $direction in (left, right) {
      @each $spacing-name, $spacing in $spacing-config {
        &.offset-#{$direction}-#{$spacing-name} {
          margin-#{$direction}: calc(spacing($spacing-name) * -1);
          padding-#{$direction}: spacing($spacing-name);
        }
      }
    }
  }

}
