.slot {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  @include grid-column-width($grid-columns);

  @include above('xs') {
    @include grid-column-width(var(--slot-column-width));
    @include grid-column-start(var(--slot-column-start, unset));
    @include grid-row-height(var(--slot-row-height, unset));
    @include grid-row-start(var(--slot-row-start, unset));
  }

  > * + *:not([class^="spacing-margin-top"], [class^="spacing-padding-top"]) {
    margin-top: var(--slot-component-spacing);
  }

  @include below('xs') {
    & + &:not([class^="spacing-margin-top"], [class^="spacing-padding-top"]) {
      margin-top: var(--slot-component-spacing);
    }
  }

}
