$c-input-placeholder-opacity: .5 !default;

.c-input {
  $module: &;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
  width: 100%;

  &__label {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    user-select: none;
    margin-bottom: spacing('xxxs');
    @include font-style("form-label");
    span {
      font: inherit;
    }
  }

  &__field {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    outline-offset: $focus-outline-spacing;
    outline: transparent solid unitize(1px);
    border-radius: border-radius('xs');
    transition: transition(outline-color);
    &:has(#{$module}__form-element:focus-visible) {
      outline-color: color('primary');
    }
  }

  &__prefix,
  &__suffix {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    order: 10;
    margin: 0;
    user-select: none;
    padding-left: spacing('xs');
    border-width: 1px;
    border-style: solid;
    border-top-left-radius: border-radius('xs');
    border-bottom-left-radius: border-radius('xs');
    border-right-width: 0;
    transition: transition(all);
    @include color-palette("input");
    @include font-style("form-text");
    span {
      font: inherit;
    }
  }

  &__suffix {
    order: 30;
    padding-left: 0;
    padding-right: spacing('xs');
    border-radius: 0 border-radius('xs') border-radius('xs') 0;
    border-left-width: 0;
    border-right-width: 1px;
  }

  &__form-element {
    display: block;
    width: 100%;
    order: 20;
    margin: 0;
    padding: spacing('xxs') spacing('xs');
    border-width: 1px;
    border-style: solid;
    outline: none;
    border-radius: border-radius('xs');
    background: transparent;
    font: inherit;
    cursor: text;
    transition: transition(all), box-shadow 0s ease-in-out;

    /// Workaround for the undeletable background-color
    /// of the chrome password manager
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:active,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:first-line {
      -webkit-box-shadow: 0 0 0 1000px transparent inset;
      -webkit-background-clip: text;
      font: inherit!important;
    }

    @include color-palette("input");
    @include font-style("form-text");

    &::placeholder{
      opacity: $c-input-placeholder-opacity;
      color: inherit;
    }
    &::-webkit-input-placeholder{
      opacity: $c-input-placeholder-opacity;
      color: inherit;
    }

    &[disabled] {
      cursor: default;
      & + #{$module}__label-text {
        cursor: default;
      }
    }

    &[type="password"] {
      font: small-caption;
      font-size: unitize(24px);
    }

    &[type="number"] {
      -moz-appearance:textfield;
      appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &--prefix {
    #{$module}__form-element {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }
  }

  &--suffix {
    #{$module}__form-element {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
  }

  &__instruction {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    @include font-style("form-label");
    span {
      font: inherit;
    }
  }
}
