.c-ab-slider {
  $module: &;
  display: grid;
  touch-action: pan-y;
  user-select: none;
  position: relative;
  max-width: 100%;
  -webkit-touch-callout: none; // Prevents iOS callout/context menu
  -webkit-user-select: none; // Prevents text selection

  &__before,
  &__after {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    will-change: clip-path;
  }

  &__handle {
    position: absolute;
    height: 100%;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    transform: translate3d(-50%, 0px, 0px);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: ew-resize;

    &:focus-visible {
      #{$module}__icon {
        outline-style: solid;
        outline-width: unitize(2px);
        outline-color: color("primary");
        outline-offset: $focus-outline-spacing;
        position: relative;
        z-index: 1;
      }
    }
  }

  &__divider {
    height: 100%;
    width: unitize(2px);
    background-color: color("primary");
  }

  &__icon {
    background-color: color("primary");
    min-height: spacing("l");
    min-width: spacing("m");
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: unitize(6px);
    color: color("system-light-30-alpha");

    @media (hover: hover) {
      &:hover {
        background-color: color("primary-alternate");
      }
    }

    &:active {
      background-color: color("primary-alternate");
      touch-action: manipulation;
    }
  }

  &--disabled {
    #{$module}__icon {
      cursor: not-allowed;
      background-color: color("primary-30-alpha");
    }
  }
}
